/* Styling for the map and panel */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    height: 100vh; /* Ensure body takes full height of the viewport */
}

#top-bar {
    display: flex;
    align-items: center; /* Align items horizontally with space between them */
    background-color: #303030;
    color: white;
    height: 30px;
    padding: 0 5px;
}

#bar-icon {
    width: 20px; /* Set the width of the favicon */
    height: 20px; /* Set the height of the favicon */
    background: url('../images/favicon-newbar.png') no-repeat center center;  /* Set the favicon image */
    background-size: contain;
    margin-right: 10px; /* Add margin between favicon and title */
	
}

#bar-title {
    font-size: 18px; /* Set the font size of the title */
	font-family: sans-serif;
	color: #fdae13;
}

#page-home {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#page-home button { 
    background-color: #303030;
	color: #fdae13;
}
#btSP img {
      max-width: 10px;
      max-height: 10px;
    }

#map {
	height: 100vh;
	width: 100%; /* 100% width */
	float: left; /* Float the map to the left */
	z-index: 0;
}
#custom-marker #marker-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FEAD13;
	z-index: 1;
}
#panel {
	height: 100vh;
	display: none;
	flex-direction: column;
	background-color: #F0F0F0;
	padding: 10px;
	position: fixed;
	top: 29px;
	right: 0;
	width: 400px; 
	z-index: 2;
	overflow: hidden; /* Hide any content that overflows the panel */
	
	/* Adjust width for mobile phones (less than or equal to 767px wide) */
    @media (max-width: 401px) {
        width: 100%;
    }
}

#card-panel {
	height: 100vh;
	display: none;
	flex-direction: column;
	background-color: #F0F0F0;
	padding: 10px;
	position: fixed;
	top: 29px;
	left: 0;
	width: 400px; 
	z-index: 2;
	overflow: hidden; /* Hide any content that overflows the panel */
	font-family: sans-serif;
	
	/* Adjust width for mobile phones (less than or equal to 767px wide) */
    @media (max-width: 401px) {
        width: 100%;
    }
}

#card-container {
	/* Styles for the filter container */
	height: calc(100% - 180px); /* Adjust the height as needed */
	flex-direction: column;
	align-items: left;
	overflow-y: auto; /* Enable scroll for the filter content*/
    margin-bottom: 10px;
    line-height: 0.5;
    display: inline-block;
    padding: 20px; /* Optional: Add padding for spacing between items */
	width: 90%;
}

#cardpage-header {
	/* Styles for the buttons row */
	display: flex;
	justify-content: right; /* Space buttons evenly */
}	
#btCCP {
	width: 21px; /* Width of the icon */
	height: 21px; /* Height of the icon */	
	display: none;
	background-color: #ff3333;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	cursor: pointer;
}

/*#btSP {
	width: 25px;
	height: 25px; 
	background-color: #FEAD13;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	cursor: pointer;
	
	z-index: 2;
	position: fixed;
	top: 40px;  Adjust this value to position the button as per your preference 
	right: 0;
	transform: translateX(-50%);
}	*/
#page-header {
	/* Styles for the buttons row */
	display: flex;
	justify-content: left; /* Space buttons evenly */
}	
#header {
    /* Styles for the label with ID header */
    /* Add your label styles here */
	padding: 10px; /* Add padding */  
	font-family: sans-serif;
}
#btCP {

	width: 21px; /* Width of the icon */
	height: 21px; /* Height of the icon */	
	display: none;
	background-color: #ff3333;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	cursor: pointer;
}
#page-index {
	/* Styles for the buttons row */
	display: flex;
	justify-content: space-between; /* Space buttons evenly */
	align-items: center;
}
#index{
	padding: 10px; /* Add padding */  
	font-family: sans-serif;
}
#page-buttons {
	/* Styles for the buttons row */
	display: flex;
	justify-content: space-between; /* Space buttons evenly */
}
#page-buttons button {
    width: 48%; /* Set a specific width for the buttons */
    margin: 5px; /* Add margin for spacing between buttons */
    padding: 10px;
}
#expcont-buttons {
    display: flex;
    justify-content: space-between;
}
#expcont-buttons button {
    width: 48%; /* Set a specific width for the buttons */
    margin: 5px; /* Add margin for spacing between buttons */
    padding: 1px;
}
#filter-container-0 {
	/* Styles for the filter container */
	height: calc(100% - 280px); /* Adjust the height as needed */
	display: none;
	flex-direction: column;
	align-items: left;
	overflow-y: auto; /* Enable scroll for the filter content */
	padding: 10px;
    margin-bottom: 50px;
	font-family: sans-serif;	
}
#filter-container-1 {
	/* Styles for the filter container */
	height: calc(100% - 280px); /* Adjust the height as needed */
	display: none;
	flex-direction: column;
	align-items: left;
	overflow-y: auto; /* Enable scroll for the filter content */
	padding: 10px;
    margin-bottom: 50px;
	font-family: sans-serif;
}
#filter-container-2 {
	/* Styles for the filter container */
	height: calc(100% - 280px); /* Adjust the height as needed */
	display: none;
	flex-direction: column;
	align-items: left;
	overflow-y: auto; /* Enable scroll for the filter content */
	padding: 10px;
    margin-bottom: 50px;
	font-family: sans-serif;
}
#filter-container-3 {
	/* Styles for the filter container */
	height: calc(100% - 280px); /* Adjust the height as needed */
	display: none;
	flex-direction: column;
	align-items: left;
	overflow-y: auto; /* Enable scroll for the filter content */
	padding: 10px;
    margin-bottom: 50px;
	font-family: sans-serif;
}
#page-clearfilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;	
    width: 97%; /* Occupy full width of the panel */
	bottom: 30px;
}
#page-clearfilter button {
    width: 48%; /* Set a specific width for the buttons */
    margin: 5px; /* Add margin for spacing between buttons */
    padding: 10px;
}